html,
body {
    margin: 0;
    padding: 0;
}

body {

}

h1,
h2,
h3,
h5,
p {
    margin:  0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear:both;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

#header {

    height: 100vh;
    background: #3f5b58 url("../img/header-bg.jpg") no-repeat;
    background-size: cover;
}

.right {
    float: right;
}

.left {
    float: left;
}

.menu a,
.menu img {
    float: left;
    margin-left: 30px;
}

.menu a {
    padding-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #c6c4ba;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-top: 45px;
}

.menu a:last-child {
    padding-right: 0;
}

.menu img {
    padding: 24px 230px 0 180px;

}

.text h1 {text-align: center; margin-top: 320px;
    color: #fff;
    text-transform: uppercase;
    font: 300 85px/85px Lato, sans-serif;
}

.text h1 span {
    color: #c6c4ba;
}

#header-footer {
    background: #ffffff;
    min-height: 300px;
    text-align: center;
    background: url("../img/Punkt.png") no-repeat center;
}

.text{
    font: 900 45px/45px Lato, sans-serif;
}

.text h3 {
    text-transform: uppercase;

}

.text h3 span {
    color: #8b8194;
}

.header-footer-wrap {
    padding-top: 100px;
}

#picture {
    background: #1d1a1a;
    padding-top:  70px;
}

h2.title {
    color: #dfdfdf;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 85px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.pic-wrap {
    margin-bottom: 100px;
}

.btn-links a {
    color: #666565;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin-left: 21px;
}

.btn-links a:first-child {
    margin-left: 0;
    padding: 0 0 4px 0;
    border-bottom: 1px solid transparent;
}

.btn-links a.active {
    border-bottom: 1px solid #666565;
}

.pic-img {
    overflow: hidden;
}

.pic-img-1 {
    width: 280px;
    height: 250px;
    margin: 0 20px 15px 0;
}

.pic-img-2 {
    width: 475px;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.pic-img-3 {
    width: 372px;
    height: 336px;
    margin-bottom: 15px;
}

.pic-img-4 {
    width: 375px;
    height: 91px;
    background: #2c2c2c;
    color: #fff;
    font: 300 35px/35px Lato, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    margin-left: 20px;
    margin-top: -65px;
}

.pic-img-5 {
    width: 475px;
    height: 250px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.pic-img-6 {
    width: 280px;
    height: 400px;
    margin-top: -150px;
}

.pic-img-7 {
    width: 775px;
    height: 270px;
    margin-right: 20px;

}

.pic-img-8 {
    width: 375px;
    height: 440px;
    margin-top: -171px;
    margin-bottom: 20px;
}

.pic-btn {
    text-align: center;
    display: block;
    background: #2b2d2c;
    width: 100%;
    padding: 32px 0 32px 0;
    margin-bottom: 100px;
    font: 300 35px/35px Lato, sans-serif;
    color: #666565;
    text-transform: uppercase;
}

.pic-btn a {
    text-decoration: none;
}

#background {
    background: #3d4f8b url("../img/background-about.jpg") no-repeat;
    background-size: cover;
    height: 600px;
}

#about {
    background: #666565;
}

#about h2.title {
    font: 300 85px/85px Lato, sans-serif;
    text-align: center;
    color: #ffffff;
    padding: 100px 0 100px 0;
    margin-bottom: 0;
}

.about-wrap {
    overflow: hidden;
    width: 100%;
}

.about {
    width: 50%;
    padding-bottom: 100px;
}

.about .about-content {

}

.about.about-column-1 .about-content {
    padding-right: 10px;
}

.about.about-column-2 .about-content {
    padding-left: 10px;
}

.content-column-1,
.content-column-2 {
    background: #111;
}

.content-column-1 {
    width: 279px;
    height: 430px;
    float: left;
}

.content-column-2 {
    margin-left: 279px;
    padding: 45px 20px 80px 20px;
    height: 307px;
}

.content-column-2 h2 {
    color: #fff;
    font: 300 37px/37px Lato, sans-serif;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.content-column-2 p {
    color: #fff;
    font: 300 16px/19px Lato, sans-serif;
}

.about-footer {
    background: #ffffff;
    min-height: 300px;
    text-align: center;
    padding: 0 0 100px 0;
}

#blog {
    background: #3a3246 url("../img/blog-background.jpg") no-repeat center;
}

.title-blog .title-blog-2 {
    text-transform: uppercase;
    font: 300 85px/85px Lato, sans-serif ;
    color: #fff;
    text-align: center;
}

.column {
    margin-right: 17px;
    width: 378px;
    height: 672px;
}

.column:last-child {
    margin-right: 0;
}

.blog-text a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font: 300 14px/14px Lato, sans-serif;
}

.blog-text span {
    color: #8b8194;
    font: 300 14px/14px Lato, sans-serif;
}

.blog-text h5 {
    font: 700 25px/25px Lato, sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.blog-text p {
    font: 400 16px/16px Lato, sans-serif;
    color: #fff;
}

.blog-text p.descr {
    margin-bottom: 35px;
}

.descr-2 {
    margin-bottom: 67px;
}

.descr-3 {
    margin-bottom: 82px;
}

h2.title-blog-2 {
    margin-bottom: 100px;
    margin-top: 100px;
}

.blog-footer {
    font: 300 25px/25px Lato, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 0 100px 0;
}

#lighthouse {
    background: #3f5b58 url("../img/lighthouse.jpg") no-repeat center;
    width: 100%;
    height: 100vh;
}

#contact {
    background: #0f0f0f;
    height: 960px;
}

.contact-column-1 h5 {
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 80px 0;
    font: 300 25px/25px Lato, sans-serif;
}

.contact-column-1 p {
    color: #8b8194;
}

.contact-descr {
    margin-bottom: 35px;
}

.social {
    margin-top: 85px;
    width: 483px;
    height: 176px;
}

.social ul {
    padding-left: 0;
}

.social li {
    display: inline-block;
    width: 65px;
    height: 65px;
}

.social li.s-fb {
    background: url("../img/social.png") no-repeat;
    background-position: 1px -15px;
}

.social li.s-tw {
     background: url("../img/social.png") no-repeat;
     background-position: -80px -15px;
 }

.social li.s-li {
    background: url("../img/social.png") no-repeat;
    background-position: -161px -15px;
}

.social li.s-g {
    background: url("../img/social.png") no-repeat;
    background-position: -242px -15px;
}

.social li.s-be {
    background: url("../img/social.png") no-repeat;
    background-position: -322px -15px;
}

.social li.s-rs {
    background: url("../img/social.png") no-repeat;
    background-position: -403px -15px;
}

.social li.s-pica {
    background: url("../img/social.png") no-repeat;
    background-position: -483px -15px;
}

.social li.s-fl {
    background: url("../img/social.png") no-repeat;
    background-position: 1px -100px;
}

.social li.s-in {
    background: url("../img/social.png") no-repeat;
    background-position: -80px -100px;
}

.social li.s-tube {
    background: url("../img/social.png") no-repeat;
    background-position: -161px -100px;
}

.social li.s-vi {
    background: url("../img/social.png") no-repeat;
    background-position: -242px -100px;
}

.social li.s-tu {
    background: url("../img/social.png") no-repeat;
    background-position: -322px -100px;
}

.social li.s-pi {
    background: url("../img/social.png") no-repeat;
    background-position: -403px -100px;
}

.social li.s-dr {
    background: url("../img/social.png") no-repeat;
    background-position: -483px -100px;
}

/*Hover*/

.social .s-fb:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: 1px -15px;
}

.social .s-tw:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -80px -15px;
}

.social .s-li:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -161px -15px;
}

.social .s-g:hover{
    background: url("../img/social-hover.png") no-repeat;
    background-position: -242px -15px;
}

.social .s-be:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -322px -15px;
}

.social .s-rs:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -403px -15px;
}

.social .s-pica:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -483px -15px;
}

.social .s-fl:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: 1px -100px;
}

.social .s-in:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -80px -100px;
}

.social .s-tube:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -161px -100px;
}

.social .s-vi:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -242px -100px;
}

.social .s-tu:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -322px -100px;
}

.social .s-pi:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -403px -100px;
}

.social .s-dr:hover {
    background: url("../img/social-hover.png") no-repeat;
    background-position: -483px -100px;
}

.contact-column-2 {
    width: 378px;
    height: 383px;
}

#comment {
    width: 343px;
    height: 200px;
    resize: none;
    outline: none;
    border: none;
    background: #2f2637;
    font: 300 16px/16px Lato, sans-serif;
    color: #fff;
    padding: 12px 18px;
    margin-bottom: 16px;
}

.name {
    width: 361px;
    outline: none;
    height: 50px;
    border: none;
    background: #2f2637;
    font: 300 16px/16px Lato, sans-serif;
    color: #fff;
    padding-left: 18px;
    margin-bottom: 16px;
}

.email {
    width: 361px;
    outline: none;
    height: 50px;
    border: none;
    background: #2f2637;
    font: 300 16px/16px Lato, sans-serif;
    color: #fff;
    padding-left: 18px;
    margin-bottom: 16px;
}

.submit {
    width: 378px;
    outline: none;
    height: 50px;
    border: none;
    background: #666565;
    font: 300 16px/16px Lato, sans-serif;
    color: #fff;
}

footer {
    background: #000 url("../img/footer-bg.jpg") no-repeat center;
    width: 100%;
    height: 519px;
}