html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin:  0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear:both;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

#header {
    width: 1900px;
    height: 100vh;
    background: #3f5b58 url("../img/header-bg.jpg") no-repeat;
    background-size: cover;
}

.right {
    float: right;
}

.left {
    float: left;
}

.menu a,
.menu img {
    float: left;
    margin-left: 30px;
}

.menu a {
    padding-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #c6c4ba;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-top: 45px;
}

.menu a:last-child {
    padding-right: 0;
}

.menu img {
    padding: 24px 230px 0 180px;

}

.text h1 {text-align: center; margin-top: 320px;
    color: #fff;
    text-transform: uppercase;
    font: 300 85px/85px Lato, sans-serif;
}

.text h1 span {
    color: #c6c4ba;
}

#header-footer {
    background: #ffffff;
    min-height: 300px;
    width: 1900px;
    text-align: center;
    background: url("../img/Punkt.png") no-repeat center;
}

.text{
    font: 900 45px/45px Lato, sans-serif;
}

.text h3 {
    text-transform: uppercase;
    padding-top: 35px;
}

.text h3 span {
    color: #8b8194;
}

.header-footer-wrap {
    padding-top: 100px;
}

#picture {
    background: #1d1a1a;
    width: 1900px;
    padding-top:  70px;
}

h2.title {
    color: #dfdfdf;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 85px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.pic-wrap {
    margin-bottom: 100px;
}

.btn-links a {
    color: #666565;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-weight: 300;
    padding-left: 21px;
}

.btn-links a:first-child {
    padding-left: 0;
    text-decoration: underline;
}

.btn-links a:hover {
    text-decoration: underline;
}

.pic-img {
    overflow: hidden;
}

.pic-img-1 {
    width: 280px;
    height: 250px;
    margin: 0 20px 15px 0;
}

.pic-img-2 {
    width: 475px;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.pic-img-3 {
    width: 372px;
    height: 336px;
    margin-bottom: 15px;
}

.pic-img-4 {
    width: 375px;
    height: 91px;
    background: #2c2c2c;
    color: #fff;
    font: 300 35px/35px Lato, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    margin-left: 20px;
    margin-top: -65px;
}

.pic-img-5 {
    width: 475px;
    height: 250px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.pic-img-6 {
    width: 280px;
    height: 400px;
    margin-top: -150px;
}

.pic-img-7 {
    width: 775px;
    height: 270px;
    margin-right: 20px;

}

.pic-img-8 {
    width: 375px;
    height: 440px;
    margin-top: -171px;
    margin-bottom: 20px;
}

.pic-btn {
    text-align: center;
    display: block;
    background: #2b2d2c;
    width: 100%;
    padding: 32px 0 32px 0;
    margin-bottom: 100px;
    font: 300 35px/35px Lato, sans-serif;
    color: #666565;
    text-transform: uppercase;
}

.pic-btn a {
    text-decoration: none;
}